<div class="container" style="width:800px;">
<h4 class="row bg-secondary text-black" style="width:120px;">新商品追加</h4>
<% if @item.errors.any? %>
  <%= @item.errors.count %>件のエラーが発生しました
<% end %>
<%= form_with model: @item, url: admin_items_path do |f| %>
    <h4>商品画像</h4>
      <%= f.file_field :image_id, accept: "image/*" %>
    <h4>商品名</h4>
      <%= f.text_field :name %>
    <h4>商品説明</h4>
      <%= f.text_area :introduction %>
    <h4>ジャンル</h4>
      <%= f.collection_select(:genre_id, Genre.all,:id,:name,prompt: "選択してください") %>
    <h4>税抜価格</h4>
     <%= f.text_field :price %>円
    <h4>販売ステータス</h4>
    <%= f.radio_button :is_active, true %>
    <%= f.label :is_active, '販売中', value: true %>
    <%= f.radio_button :is_active, false %>
    <%= f.label :is_active, '販売停止中', value: false %>
    <%= f.submit '新規登録' %>
  <% end %>
</div>