<div class="container" style="width:800px" >
  <div class="row">
    <h4 class="row bg-secondary text-black p-2" style="width:160px;">注文情報確認</h4>
  </div>
  <div class="row">
    <div class="col-8">
      <table border="2">
        <thead>
          <tr>
            <th style="width:150px">商品名</th>
            <th style="width:100px">単価（税込）</th>
            <th style="width:100px">数量</th>
            <th style="width:100px">小計</th>
          </tr>
        </thead>
        <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= cart_item.item.name %>
          </td>
          <td>
            <%= cart_item.item.with_tax_price %>円
          </td>
          <td>
            <%= cart_item.amount %>
          </td>
          <td>
            <%= cart_item.subtotal %>
          </td>
        </tr>
          <% @sum +=cart_item.subtotal %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table border= "2">
        <tr>
          <th>送料</th>
          <td><%= @shopping_cost %></td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td><%= @sum %></td>
        </tr>
        <tr>
          <th>請求合計</th>
          <td><%= @sum += @shopping_cost %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4">
    <h4>支払方法</h4>
    </div>
    <div class="col-8">
    <%= @order.payment_method_i18n %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
    <h4>お届け先</h4>
    </div>
    <div class="col-8">
    〒<%= @order.shopping_postal_code %> <%= @order.shopping_address %></br>
    <%= @order.shopping_name %>
    </div>
  </div>
<%= form_with model: @order, url: orders_path do |f| %>
  <%= f.hidden_field :payment_method, value: @order.payment_method %>
  <%= f.hidden_field :shopping_postal_code, value: @order.shopping_postal_code %>
  <%= f.hidden_field :shopping_address, value: @order.shopping_address %>
  <%= f.hidden_field :shopping_name, value: @order.shopping_name %>
  <%= f.hidden_field :total_payment, value: @sum %>
  <%= f.hidden_field :shopping_cost, value: @shopping_cost %>
  <%= f.hidden_field :customer_id, value: current_customer.id %>
  <%= f.hidden_field :address_ladio, value: params[:order][:address_ladio] %>
  <%= f.submit "注文を確定する", class:"btn btn-success" %>
<% end%></div>

