<div class="container" style="width:800px">
  <h4 class="row bg-secondary text-black" style="width:150px;">注文履歴一覧</h4>
  <table border="1">
    <thead>
      <tr>
        <th style="width:120px">
          注文日
        </th>
        <th style="width:200px">
          配送先
        </th>
        <th style="width:110px">
          注文商品
        </th>
        <th style="width:100px">
          支払金額
        </th>
        <th style="width:110px">
          ステータス
        </th>
        <th style="width:110px">
          注文詳細
        </th>
      </tr>
    </thead>
    <tody>
      <% @orders.each do|order| %>
      <tr>
        <td>
          <%= order.created_at.strftime("%Y/%m/%d") %>
        </td>
        <td>
          <%= order.shopping_postal_code %></dr>
          <%= order.shopping_address %></br>
          <%= order.shopping_name %>
        </td>
        <td>
          <% order.items.each do |item| %>
							<p><%= item.name %></p>
						<% end %>
        </td>
        <td>
          <%= order.total_payment %>円
        </td>
        <td>
          <%= order.order_status_i18n %>
        </td>
        <td>
          <%= link_to "表示する", order_path(order.id), class:"btn btn-primary m-2" %>
        </td>
        <% end %>
      </tr>
    </tody>
  </table>
</div>