<div class="container" style="width:800px">
  <h4 class="row bg-secondary text-black" style="width:150px">
    注文情報入力
  </h4>
  <h5>支払い方法</h5>
  <%= form_with model:@order, url: new_order_path do |f| %>
  <%= f.radio_button :payment_method, "credit_card" %>
  <%= f.label :payment_method, "クレジットカード" %>
  <%= f.radio_button :payment_method, "transfer" %>
  <%= f.label :payment_method, "銀行振込" %>
  <h5>お届け先</h5>
  
  <% end %>
</div>