<div class="container" style="width:800px">
  <h4 class="row bg-secondary text-black" style="width:150px">
    注文情報入力
  </h4>
  <h5>支払い方法</h5>
  <%= form_with model: @order, url: confirm_orders_path do |f| %>
    <%= f.radio_button :payment_method, "credit_card" %>
    <%= f.label :payment_method, "クレジットカード" %>
    <%= f.radio_button :payment_method, "transfer" %>
    <%= f.label :payment_method, "銀行振込" %>
    <h5>お届け先</h5>
    <%= f.radio_button :addresses_ladio, 0 %>
    <%= f.label :addresses_ladio,"ご自身の住所" %></br>
    <%= current_customer.postal_code %><%= current_customer.address %></br>
    <%= current_customer.first_name %><%= current_customer.last_name %></br>
    
    <%= f.radio_button :addresses_ladio, 1 %>
    <%= f.label :addresses_ladio,"登録済み住所から選択" %></br>
    <%= f.select :addresses_id, options_from_collection_for_select(Address.all, :id, :address_display) %></br>
    
    <%= f.radio_button :addresses_ladio, 2 %>
    <%= f.label :addresses_ladio,"新しいお届け先" %></br>
    <%= f.label:shopping_postal_code, "郵便番号（ハイフンなし）"%>
    <%= f.text_field :shopping_postal_code %></br>
    <%= f.label :shopping_address, "住所　　　　　　　　　　" %>
    <%= f.text_field :shopping_address %></br>
    <%= f.label :shopping_name, "宛名　　　　　　　　　　" %>
    <%= f.text_field :shopping_name  %>
    
    <%= f.submit "確認画面へ進む", class:"btn btn-primary mr-4" %>    
  <% end %>
</div>