<div class="container" style="width:800px;">
    <div class="row">
      <div class="col">
        <%= image_tag @item.get_image(300,300) %>
      </div>
      <div class="col">
        <h6 class = "row">
          <%= @item.name %>
        </h6>
        <p class="row">
          <% @item.introduction %> 
        </p>
        <h7 class="row">
          ￥<%= @item.price %>（税込）
        </h7>
        <%= form_with model:@cart_item, url: cart_items_path do |f| %>
        <%= f.select :amount, *[1..10] %>
        <%= f.hidden_field :item_id, :value => @item.id%>
        <%= f.submit "カートに入れる", class:"btn btn-success" %>
        <% end %>
      </div>
    </div>
